#profile-navigation{
    position: relative;
  }
#profile-navigation div{
  cursor: pointer;
}
  #profile-navigation::before{
    content: '';
    height:2px;
    position: absolute;
    top:-10px;
    left: 0;
    right: 0;
    background-color: white;
    scale: var(--width, 23%) 1;
    translate: var(--left, 0px);
    transition: .3s;
    transform-origin: left;
    border-radius: 200%;
  }