@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=REM&family=Rubik&display=swap') ;
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Rubik' !important;
  background-color: black;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}
nav{
  box-sizing: border-box !important;
}
#navigation-icons a i{
  transition: .05s;
}

#navigation-icons a:hover i{
  scale: 1.2;
}

/* Loading */
#quote-item::-webkit-scrollbar,
#quote-area::-webkit-scrollbar{
  display: none;
}
#quote-area{
  font-size: 1.2rem;
}
@media only screen and (max-width:1510px) {
  #side-profile{
    display: none;
  }
  #quotes-section{
    width: 100%;
  }
  #quotes-heading{
    font-size: 6vw;
  }
}
@media only screen and (max-width:450px) {
  #quotes-heading{
    /* font-size: 47px; */
  }
}
